<div class="main-container">
{% extends "header.html" %} {% block body %}
    <div class="content-container">
        <div class="content-area">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Deploy VM from Content Catalog
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Deploy a VM </br>
                                I'd like to Deploy a VM</br>
                                Deploy Virtual Machine
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Get Datastores
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Get Datastores </br>
                                Show Datastores</br>
                                </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Get Firewall Rule List
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Show FW Rule List </br>
                                Show Firewall Rule List </br>
                                Show All Firewall Rules
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Get SDDC Hosts
                            </br>
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Get Hosts </br>
                                Show Hosts </br>
                                </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Get User Orgs
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                What Orgs Do I Belong To </br>
                                Show Me My Orgs </br>
                                Which Orgs Am I In </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Get SDDC Virtual Machines
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Show Virtual Machines</br>
                                Show Me The VMs</br>
                                Show VMs</br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Show Firewall Rules
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Get Firewall Rule By Index</br>
                                Get Single Firewall Rule</br>
                                Get Specific Firewall Rule
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Get VMC SDDC
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Show SDDC</br>
                                Show My SDDC</br>
                                Get SDDC</br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Show VMC vCenter
                        </div>
                        <div class="card-block">
                            <b>Phrases
                                <br>
                            </b>
                            <p class="card-text">
                                Show vCenter</br>
                                Get vCenter</br>
                                Get VC URL</br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}